<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family:arial,sans-serif!important;
            }
            .text {
                font-size:30px;
                font-weight: bold;
            }
            .line {
                width:550px;
                margin:40px;
            }
        </style>
    </head>
    <body>
        <div align="center" style="font-size:20px;">
            <p class="text">Email change</p>
            Your code to change your email:
            <p class="text">{{.verificationCode}}</p>
            If you don't want to change your email, just ignore this message.
            <hr class="line">
            2022 © | Created with ❤️ by <a href="https://nktkln.com" style="color:black;">NKTKLN</a>
        </div>
    </body>
</html>
